@model IEnumerable<SportsSimulatorWebApp.Models.Team>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="teams">
    <thead>
        <tr>
            <th>
                Team Name
            </th>
            <th>
                Team Rating
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#teams").DataTable({
                ajax: {
                    url: "/api/teams",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "TeamName",
                        render: function (data, type, team) {
                            return "<a href='/teams/details/" + team.Id + "'>" + team.TeamName + "</a>"
                        }
                    },
                    {
                        data: "TeamRating"
                    }
                ]
            });

            //$('#teams .js-details').on("click", function () {
            //    $.ajax({
            //        url: "/api/teams/" + $(this).attr("data-team-id"),
            //        contentType: 'application/json; charset=utf-8',
            //        method: "GET",
            //        dataType: 'json',
            //        processData: false,
            //        success: function (html) {
            //            alert(html);
            //        }
            //    });
            //});
        });

    </script>
}
