@model SportsSimulatorWebApp.Models.AddPlayersToTeam

@{
    ViewBag.Title = "Add Members to Team";
}

<h2>Add Members to Team</h2>
 
<div>
    {
    @Html.ListBoxFor(x => x.PlayerIds, Model.Players)

    <input type="submit" />
    }

</div>
    <a class="btn btn-default" href="@Url.Action("Details","Teams", new { id = Model.Team.id })">Return to Team &raquo;</a>
</p>

