@model SportsSimulatorWebApp.Models.ViewModels.AvailablePlayersForBiddingWithTeamViewModel


@{
    ViewBag.Title = "AvailablePlayers";
}

<h2>Available Players to Bid on for @Model.Team.TeamName</h2>



