@model SportsSimulatorWebApp.Models.LeagueTeamViewModel
@{
    ViewBag.Title = "CreateLeagueEntries";
}

<h2>CreateLeagueEntries</h2>

@using (Html.BeginForm())
{

    @Html.HiddenFor(x=> x.enteredTeams)
    <div>
        @Html.LabelFor(x=> x.enteredTeams.)
    </div>

}





<div>
    <h4>Add Teams to League</h4>
    <hr />







</div>

